
<p>
  <strong>Initial Cash:</strong>
  <%= @cash_management_table.initial_cash %>
</p>

<p>
  <strong>Cash In:</strong>
  <%= @cash_management_table.cash_in %>
</p>

<p>
  <strong>Cash Out:</strong>
  <%= @cash_management_table.cash_out %>
</p>


<% if @cash_in_histories.nil? %>

  <%= link_to 'Create Cash In History of this month', new_cash_in_history_path(:cash_management_table_id => @cash_management_table.id), class: "btn btn-xs btn-success" %>

<%  else  %>

  <table>
    <tr>
      <th>ID</th>
      <th></th>
    </tr>

    <tr>
      <td><%=  @cash_in_histories.id  %></td>
    </tr>
  </table>
<% end %>


<% if @cash_out_histories.nil? %>

  <%= link_to 'Create Cash In History of this month', new_cash_out_history_path(:cash_management_table_id => @cash_management_table.id), class: "btn btn-xs btn-success" %>

<%  else  %>

  <table>
    <tr>
      <th>ID</th>
      <th></th>
    </tr>

    <tr>
      <td><%=  @cash_out_histories.id  %></td>
    </tr>
  </table>
<% end %>



<%= link_to 'Back', companies_path %>