

<!--<p>-->
<!--  <strong>Last Name:</strong>-->
  <%#= @student_company.company_id %>
<!--</p>-->

<% if @cash_management_table.nil? %>

  <%= link_to 'Create Cash Management', new_cash_management_table_path(:student_company_id => @student_company.id), class: "btn btn-xs btn-success" %>

<%  else  %>

<!--<table>-->
<!--  <tr>-->
<!--    <th>ID</th>-->
<!--    <th></th>-->
<!--  </tr>-->

<!--  <tr>-->
<!--    <td><%#=  @cash_management_table.id  %></td>-->
<!--    <td><%#= link_to 'Show', cash_management_table_path(@cash_management_table.id),  class: "btn btn-xs btn-success" %></td>-->

<!--  </tr>-->
<!--</table>-->


  <br>


  <p>
    <strong>Initial Cash:</strong>
    <%= @cash_management_table.initial_cash %>
  </p>

  <%= link_to 'Create Cash In History of this day', new_cash_in_history_path(:cash_management_table_id => @cash_management_table.id), class: "btn btn-xs btn-success" %>
  <%= link_to 'Create Cash OUT History of this day', new_cash_out_history_path(:cash_management_table_id => @cash_management_table.id), class: "btn btn-xs btn-success" %>


  <% if @cash_in_histories.empty? %>

    <table>
      <tr>
        <th>ID</th>
        <th></th>
      </tr>

      <tr>
        <td>No Data</td>
      </tr>
    </table>
  <%  else  %>


    <table class="table table-bordered">
      <tr>
        <th>ID</th>
        <th>Revenues Amount</th>
        <th>Equity Amount</th>
        <th>Convertible Note Amount</th>
        <th>Bank Debt Amount</th>
        <th>Other Amount</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>

      <% @cash_in_histories.each do |history| %>
        <tr>
          <td><%= history.id %></td>
          <td><%= history.revenues_amount %></td>
          <td><%= history.equity_amount %></td>
          <td><%= history.convertible_note_amount %></td>
          <td><%= history.bank_debt_amount %></td>
          <td><%= history.other_amount %></td>
          <td><%= history.status %></td>

          <td><%= link_to 'Edit', edit_cash_in_history_path(history.id, :cash_management_table_id => @cash_management_table.id),  class: "btn btn-xs btn-primary" %>
          <%= link_to 'Delete', cash_in_history_path(history.id, :cash_management_table_id => @cash_management_table.id),
                          method: :delete,
                          data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %></td>



        </tr>
      <% end %>
    </table>
  <% end %>


  <% if @cash_out_histories.empty? %>

    <table>
      <tr>
        <th>ID</th>
        <th></th>
      </tr>

      <tr>
        <td>No Data</td>
      </tr>
    </table>

  <%  else  %>



    <table class="table table-bordered">
      <tr>
        <th>ID</th>
        <th>Cogs Amount</th>
        <th>Employees Amount</th>
        <th>Services Amount</th>
        <th>Operating Expenses Amount</th>
        <th>Investment Amount</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>

      <% @cash_out_histories.each do |history| %>
        <tr>
          <td><%= history.id %></td>
          <td><%= history.cogs_amount %></td>
          <td><%= history.employees_amount %></td>
          <td><%= history.services_amount %></td>
          <td><%= history.operating_expenses_amount %></td>
          <td><%= history.investments_amount %></td>
          <td><%= history.status %></td>

          <td><%= link_to 'Edit', edit_cash_out_history_path(history.id,  :cash_management_table_id => @cash_management_table.id),  class: "btn btn-xs btn-primary" %>
<%= link_to 'Delete', cash_out_history_path(history.id,  :cash_management_table_id => @cash_management_table.id),
                          method: :delete,
                          data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %></td>



        </tr>
      <% end %>
    </table>
  <% end %>

  

<% end %>




<%= link_to 'Back', fetch_current_user_companies_path %>