<%= form_with model: @company, local: true do |form| %>

  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@company.errors.count, "error") %> prohibited
        this company from being saved:
      </h2>
      <ul>
        <% @company.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :currency %><br>
    <%= form.text_field :currency %>
  </p>


  <p>
    <%= form.label :country %><br>
    <%= form.text_field :country %>
  </p>



  <p>
    <%= form.submit %>
  </p>

<% end %>