
<h1>Listing Companies</h1>

<%= link_to 'New Company', new_company_path, class: "btn btn-xs btn-success" %>

<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>

  <% @companies.each do |company| %>
    <tr>
      <td><%= company.name %></td>
      <td><%= link_to 'Show', company_path(company),  class: "btn btn-xs btn-success" %></td>
      <td><%= link_to 'Edit', edit_company_path(company),  class: "btn btn-xs btn-primary" %></td>
      <td><%= link_to 'Delete', company_path(company),
                      method: :delete,
                      data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %></td>

    </tr>
  <% end %>
</table>